# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

,grades,studyhours,echours,sleephours,socialhours,activityhours
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,7.789825,7.475800,1.990100,7.501250,2.704550,4.32830
std,0.746777,1.423888,1.155855,1.460949,1.688514,2.51411
min,5.600000,5.000000,0.000000,5.000000,0.000000,0.00000
25%,7.250000,6.300000,1.000000,6.200000,1.200000,2.40000
50%,7.780000,7.400000,2.000000,7.500000,2.600000,4.10000
75%,8.320000,8.700000,3.000000,8.800000,4.100000,6.10000
max,10.000000,10.000000,4.000000,10.000000,6.000000,13.00000