# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [12]:
import pandas as pd

df0 = pd.read_csv('lifestylestudents.csv')

df0.describe()

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,Grades
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000
mean,1000.500000,7.475800,1.990100,7.501250,2.704550,4.32830,7.789825
std,577.494589,1.423888,1.155855,1.460949,1.688514,2.51411,0.746777
min,1.000000,5.000000,0.000000,5.000000,0.000000,0.00000,5.600000
25%,500.750000,6.300000,1.000000,6.200000,1.200000,2.40000,7.250000
50%,1000.500000,7.400000,2.000000,7.500000,2.600000,4.10000,7.780000
75%,1500.250000,8.700000,3.000000,8.800000,4.100000,6.10000,8.320000
max,2000.000000,10.000000,4.000000,10.000000,6.000000,13.00000,10.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- grades

**IVs**:
- daily study hours
- daily extracurricular hours
- daily hours of sleep
- daily social hours
- daily hours of physical activity

<br>
<br>

Let's extract the relevant columns:

In [11]:

df = df0[  ['Grades', 'Study_Hours_Per_Day', 'Extracurricular_Hours_Per_Day', 'Sleep_Hours_Per_Day', 'Social_Hours_Per_Day', 'Physical_Activity_Hours_Per_Day']  ]

df.describe()

,Grades,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,7.789825,7.475800,1.990100,7.501250,2.704550,4.32830
std,0.746777,1.423888,1.155855,1.460949,1.688514,2.51411
min,5.600000,5.000000,0.000000,5.000000,0.000000,0.00000
25%,7.250000,6.300000,1.000000,6.200000,1.200000,2.40000
50%,7.780000,7.400000,2.000000,7.500000,2.600000,4.10000
75%,8.320000,8.700000,3.000000,8.800000,4.100000,6.10000
max,10.000000,10.000000,4.000000,10.000000,6.000000,13.00000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [17]:
df = df.rename( columns={'Grades':'grades', 'Study_Hours_Per_Day':'studyhours', 'Extracurricular_Hours_Per_Day':'echours', 'Sleep_Hours_Per_Day':'sleephours', 'Social_Hours_Per_Day':'socialhours', 'Physical_Activity_Hours_Per_Day':'activityhours'} )

df.describe()

,grades,studyhours,echours,sleephours,socialhours,activityhours
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,7.789825,7.475800,1.990100,7.501250,2.704550,4.32830
std,0.746777,1.423888,1.155855,1.460949,1.688514,2.51411
min,5.600000,5.000000,0.000000,5.000000,0.000000,0.00000
25%,7.250000,6.300000,1.000000,6.200000,1.200000,2.40000
50%,7.780000,7.400000,2.000000,7.500000,2.600000,4.10000
75%,8.320000,8.700000,3.000000,8.800000,4.100000,6.10000
max,10.000000,10.000000,4.000000,10.000000,6.000000,13.00000