# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('lifestylestudents.csv')
df0.head()
df0.describe(include='all')

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,Stress_Level,Gender,Grades
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000,2000,2000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,3,2,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,High,Male,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,1029,1016,NaN
mean,1000.500000,7.475800,1.990100,7.501250,2.704550,4.32830,NaN,NaN,7.789825
std,577.494589,1.423888,1.155855,1.460949,1.688514,2.51411,NaN,NaN,0.746777
min,1.000000,5.000000,0.000000,5.000000,0.000000,0.00000,NaN,NaN,5.600000
25%,500.750000,6.300000,1.000000,6.200000,1.200000,2.40000,NaN,NaN,7.250000
50%,1000.500000,7.400000,2.000000,7.500000,2.600000,4.10000,NaN,NaN,7.780000
75%,1500.250000,8.700000,3.000000,8.800000,4.100000,6.10000,NaN,NaN,8.320000
max,2000.000000,10.000000,4.000000,10.000000,6.000000,13.00000,NaN,NaN,10.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- grades

**IVs**:
- daily study hours
- daily extracurricular hours
- daily hours of sleep
- daily social hours
- daily hours of physical activity

<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[  ['Grades', 'Stress_Level', 'Study_Hours_Per_Day', 'Extracurricular_Hours_Per_Day', 'Sleep_Hours_Per_Day', 'Social_Hours_Per_Day', 'Physical_Activity_Hours_Per_Day']  ]
df.head()
df.describe(include='all')

,Grades,Stress_Level,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day
count,2000.000000,2000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
unique,NaN,3,NaN,NaN,NaN,NaN,NaN
top,NaN,High,NaN,NaN,NaN,NaN,NaN
freq,NaN,1029,NaN,NaN,NaN,NaN,NaN
mean,7.789825,NaN,7.475800,1.990100,7.501250,2.704550,4.32830
std,0.746777,NaN,1.423888,1.155855,1.460949,1.688514,2.51411
min,5.600000,NaN,5.000000,0.000000,5.000000,0.000000,0.00000
25%,7.250000,NaN,6.300000,1.000000,6.200000,1.200000,2.40000
50%,7.780000,NaN,7.400000,2.000000,7.500000,2.600000,4.10000
75%,8.320000,NaN,8.700000,3.000000,8.800000,4.100000,6.10000
max,10.000000,NaN,10.000000,4.000000,10.000000,6.000000,13.00000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'Grades':'grades', 'Stress_Level':'stress', 'Study_Hours_Per_Day':'studyhours', 'Extracurricular_Hours_Per_Day':'echours', 'Sleep_Hours_Per_Day':'sleephours', 'Social_Hours_Per_Day':'socialhours', 'Physical_Activity_Hours_Per_Day':'activityhours'} )
df['stress'] = df['stress'].map({'Low': 1, 'Moderate': 2, 'High': 3})
df.describe(include='all')

,grades,stress,studyhours,echours,sleephours,socialhours,activityhours
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,7.789825,2.366000,7.475800,1.990100,7.501250,2.704550,4.32830
std,0.746777,0.727536,1.423888,1.155855,1.460949,1.688514,2.51411
min,5.600000,1.000000,5.000000,0.000000,5.000000,0.000000,0.00000
25%,7.250000,2.000000,6.300000,1.000000,6.200000,1.200000,2.40000
50%,7.780000,3.000000,7.400000,2.000000,7.500000,2.600000,4.10000
75%,8.320000,3.000000,8.700000,3.000000,8.800000,4.100000,6.10000
max,10.000000,3.000000,10.000000,4.000000,10.000000,6.000000,13.00000